# Application settings
APP_DEBUG=true
DEFAULT_TIMEZONE=Asia/Shanghai

# Server settings
DEFAULT_START_SERVER=http

# Redis settings
REDIS_HOST=viswoole-redis-1

# Database settings
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=test
DATABASE_USER=test
DATABASE_PASSWORD=123456
